
body {
    background: #f5f5dc; /* Новый бежевый цвет фона */
    font-family: "Titillium Web", sans-serif;
    color: #b8a89d; /* Новый цвет текста */
}
.topbar {
    background: #a68b5b; /* Новый цвет фона верхней панели */
    box-shadow: 0 -4px 10px -4px #fff inset;
}
.main-menu__link {
    font-size: 12px;
    color: #f5f5dc; /* Новый цвет ссылок в меню */
}
.basket__area {
    color: #b8a89d; /* Новый цвет текста в корзине */
    text-align: center;
}
.contacts-list a {
    color: #b8a89d; /* Новый цвет ссылок в контактах */
}
.bx-filter .bx-filter-parameters-box-title span {
    color: #7a6d65; /* Новый цвет заголовков фильтра */
}
.search-form__bg {
    background: #b8a89d; /* Новый цвет фона поиска */
}
.fa-ruble-sign {
    display: none;
}
.fa-home {
    padding-top: 6px;
}
.bx-filter {
    font-family: cursive;
}
.swiper-wrapper {
    height: 150px;
}
.bx-filter .btn-buy:nth-child(2) {
    background: rgba(0, 0, 0, 0) linear-gradient(0deg, #b8a89d 30%, #b8a89d 70%) repeat scroll 0 0;
    border: none;
    border-radius: 15px;
}
.bx-filter .bx-ui-slider-pricebar-v {
    background: #c2b09e; /* Новый цвет полосы цен */
}
.btn-buy {
    border: none;
    border-radius: 15px;
}
.div-title {
    margin-top: 50px;
}
.bx-filter .bx-ui-slider-handle.left {
    background: #b8a89d; /* Новый цвет левой ручки слайдера */
}
.bx-filter .bx-ui-slider-handle.right {
    background: #b8a89d; /* Новый цвет правой ручки слайдера */
}
.bx-filter .bx-filter-parameters-box-title {
    color: #2C3930; /* Цвет заголовка фильтра */
}
.but {
    background: #b8a89d; /* Новый цвет кнопки */
    border-radius: 2px;
    margin-top: 5px;
}
.but:after {
    border-top: 34px solid #fff;
    border-right: 24px solid #fff;
    border-radius: 25px;
}
#sections-menu li{
    margin: 10px 2px;}
.header__logo {
    padding-left: 40px; /* Новое значение отступа */
}
.header__logo-desc {
    text-align: right;
}
.but:before {
    border-bottom: 34px solid #fff;
    border-left: 24px solid #fff;
    border-radius: 25px;}
.btn-base {
    background: rgba(0, 0, 0, 0) linear-gradient(0deg, #b8a89d 30%, #b8a89d 70%) repeat scroll 0 0;
    border: none;
    border-radius: 11px;
}
.button_compare {
    background: rgba(0, 0, 0, 0) linear-gradient(0deg, #b8a89d 30%, #b8a89d 70%) repeat scroll 0 0;
    font-size: 14px;
    border-radius: 11px;
    border: none;
    box-shadow: 0 1px 0;
}
.basket__area {
    background: url(https://re4ka-01.github.io/testweb/home_page_test/img/Basket.svg) left center no-repeat;
}
.catalog-section__info-name {
    font-size: 14px;
}
.catalog-section__price {
    font-size: 16.5px;
}
.footer-menu__list a {
    color: #b8a89d; /* Новый цвет ссылок в футере */
}
#toTop {
    width: 80px;
}
.footer__legal p {
    color: #b8a89d; /* Новый цвет текста в футере */
}
.header-contacts { 
    margin-top: 20px; /* Новое значение отступа */
}